<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" >
     	
        <context:component-scan base-package="com.imooc.beanannotation">
        <!-- <context:component-scan base-package="com.imooc.beanannotation" scoped-proxy="interfaces">指定代理，三个值no/interface/targetClass -->	
        	<!-- 
        	<context:include-filter type="regex" expression=""/>  
        	使用过滤器忽略或包含指定的注解【此处只做知识点，测试案例并不需要】：
        	Include-filter：包含的过滤器，type：regex以通配符形式找expression中定义的相似类 ，Exclude-filter：排除的注解，	
        	-->
        </context:component-scan>
        <!-- Base-package是只扫描处理这个包下的所有类的注解 ; context:component-scan包含context:component-config-->
        
        <!-- 测试required注解初始化参数 -->
        <bean id="mail" class="com.imooc.beanannotation.a3.required.Mail">
        	<property name="postcode" value="710000"/>
        	<property name="phone" value="18717397391"/>
   		</bean>
 </beans>
