<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
       
    <!-- 在IOC容器初始化时，加载当前xml文件配置【通过UnitTestBase加载，测试类继承该基类，并调用其加载xml的方法】，创建以下bean所对应的对象 -->  
	<bean id="oneInterface" class="com.imooc.a1xml.ioc.OneInterfaceImpl"></bean>
	
 </beans>
