<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        
        <bean id="beanScope" class="com.imooc.a3xml.beanscope.BeanScope" scope="singleton"></bean>
        <!-- 单例模式，一个上下文容器中只存在一份bean的实例 -->
        
        <!--  <bean id="beanScope" class="com.imooc.a3xml.beanscope.BeanScope" scope="prototype"></bean> -->
        <!-- prototype模式每次请求都会创建新的实例,当请求完成后对象就会被GC回收,Request及session模式都是与web相关的 -->
        
 </beans>
