<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" 
        
        default-autowire="byName">	<!-- autowire自动注入 -->
        
        <!-- 自动注入【设值或构造】属性：
        	如果是byName，下方必须有id ，此选项会检查容器并根据名字[id]查找与属性完全一致的bean，并自动设值注入
        	constructor可以省略id ， 与byType类似， 不同之处是应用于构造器的参数，即构造器参数类型存在于xml内包含的bean类型
        	byType是bean中的属性根据xml内包含的class,也可以省略或写错id ， 如果IOC中存在一个与指定属性类型相同的bean，则自动装配该属性
        	No默认属性，不做任何注入-->
        
        <bean id="autoWiringService" class="com.imooc.a6xml.autowiring.AutoWiringService" ></bean>
        
        <bean id="autoWiringDAO" class="com.imooc.a6xml.autowiring.AutoWiringDAO" ></bean>
	
 </beans>
