<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        
        <!-- 在IOC容器初始化加载当前xml文件配置时，创建以下两个bean所对应的对象 -->
        <!-- Spring注入 是指在启动容器加载bean配置的时候，完成对变量的赋值行为，分为设值和构造两种 -->
        
        <bean id="injectionDAO" class="com.imooc.a2xml.injection.InjectionDAOImpl"></bean>
        
       	<!-- 设值注入 -->
       	<!-- property name指在class对应的类中有一个该名称的   成员变量并且配备set方法 ，ref是引用：引用其他的bean的id,此处引用最上方的bean --> 
        <!----><bean id="SinjectionService" class="com.imooc.a2xml.injection.InjectionServiceImpl">
        	<property name="injectionDAO" ref="injectionDAO"></property>
        </bean> 
		
		
		<!-- 构造注入 -->
		<!-- constructor-arg构造器参数：在bean中，必须有一个对应带参的    构造器的参数名称   和此处name【完全一致】 ，ref引用最上方的bean--> 
		 <!--<bean id="CONinjectionService" class="com.imooc.a2xml.injection.InjectionServiceImpl">
        	<constructor-arg name="injectionDAO" ref="injectionDAO"></constructor-arg>
        </bean> -->
        
 </beans>
